<button
  title="View my cv"
  aria-label="View my CV"
  class={Astro.props.class}
  onclick="window.print()"
>
  <p class="size-5 font-mono font-extrabold">CV</p>
</button>

<style>
  :global(.print) {
    color-scheme: print;
  }
</style>

<script>
  window.addEventListener("beforeprint", () => {
    document.documentElement.classList.add("print");
  });
  window.addEventListener("afterprint", () => {
    document.documentElement.classList.remove("print");
  });
</script>
