h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Georgia", serif;
  font-weight: 600;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-attachment: fixed;
  margin: 0;
}

main {
  margin: auto;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@tailwind components;

@media (hover: none), (pointer: coarse) {
  bg-skin-interactive:hover {
    all: unset;
  }
}

@layer components {
  .muted-box {
    @apply rounded-md bg-skin-secondary/50 p-5 ring-1 ring-skin-muted;
  }
}
