---
import { CV } from "../../CVRepository";
const { summary } = CV.basics;
---

<section class={Astro.props.class}>
  <h3 class="section-title1">About</h3>
  <p class="font-mono opacity-75 print:font-sans">
    {summary}
  </p>
</section>
