---
import ThemeSwitchBtn from "@/components/buttons/ThemeSwitchBtn.astro";
import PrintBtn from "@/components/buttons/PrintBtn.astro";
import HighlightSkillsBtn from "@/components/buttons/HighlightModalBtn.astro";
---

<div class={Astro.props.class}>
  <div class="flex gap-2">
    <PrintBtn class="btn-secondary" />
    <HighlightSkillsBtn class="btn-secondary" />
    <ThemeSwitchBtn class="btn-secondary" />
  </div>
</div>
