---
import AcordionSection from "../AcordionSection.astro";
import CV from "@cv";
import { Icon } from "astro-icon/components";
import { getclassId } from "../../classes-generator";

const { skills } = CV;
---

<AcordionSection className={Astro.props.className} title="Skills">
  <ul
    class="inline-flex flex-wrap gap-4 print:mt-4 [&>li>svg]:text-skin-hue [&>li]:text-sm"
  >
    {
      skills.languages?.map((language) => {
        const { name, icon } = language;
        return (
          <li>
            <input
              type="checkbox"
              id={getclassId("languages", name)}
              value={name}
              class="skill-checkbox hidden"
              checked
            />
            <label
              for={getclassId("languages", name)}
              class="flex cursor-pointer items-center gap-1 rounded-md border border-solid border-skin-hue/20 bg-skin-button-accent/20 px-1 py-0.5 text-xs text-skin-hue print:border-none print:bg-transparent print:p-0 print:text-zinc-800"
            >
              {icon && <Icon name={icon} width={16} height={16} />}
              <span>{name}</span>
            </label>
          </li>
        );
      })
    }
  </ul>
  <div class="mt-4 flex gap-4">
    <label>
      <input type="checkbox" id="skills-filter-checkbox" />
      <span class="button-hover-effect">Filter</span>
    </label>
    <button
      id="skills-check-all-btn"
      class="button-hover-effect"
      aria-label="Select all skills"
    >
      Select All
    </button>
    <button
      id="skills-uncheck-all-btn"
      class="button-hover-effect"
      aria-label="Deselect all skills"
    >
      Deselect All
    </button>
  </div>
</AcordionSection>

<script>
  import { SKILL_FILTER_CLASS } from "../../classes-generator";

  document.addEventListener("DOMContentLoaded", () => {
    const checkAllBtn = document.querySelector(
      "#skills-check-all-btn",
    ) as HTMLButtonElement;
    const uncheckAllBtn = document.querySelector(
      "#skills-uncheck-all-btn",
    ) as HTMLButtonElement;
    const filterCheckbox = document.querySelector(
      "#skills-filter-checkbox",
    ) as HTMLInputElement;
    const checkboxes = document.querySelectorAll(
      ".skill-checkbox",
    ) as NodeListOf<HTMLInputElement>;

    checkAllBtn.addEventListener("click", () => {
      checkboxes.forEach((checkbox) => {
        checkbox.checked = true;
      });
    });

    uncheckAllBtn.addEventListener("click", () => {
      checkboxes.forEach((checkbox) => {
        checkbox.checked = false;
      });
    });

    filterCheckbox.addEventListener("change", () => {
      const selectedSkills: Set<string> = new Set();
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          selectedSkills.add(checkbox.id);
        }
      });

      const elementsToHide =
        document.getElementsByClassName(SKILL_FILTER_CLASS);
      Array.from(elementsToHide).forEach((element) => {
        (element as HTMLElement).style.display = filterCheckbox.checked
          ? "none"
          : "block";
      });

      if (filterCheckbox.checked) {
        selectedSkills.forEach((skill) => {
          const elementsToShow = document.getElementsByClassName(skill);
          Array.from(elementsToShow).forEach((element) => {
            (element as HTMLElement).style.display = "block";
          });
        });
      }
    });
  });
</script>

<style>
  .skill-checkbox:not(:checked) + label {
    background-color: transparent;
  }
</style>
