---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SkillsMenu from "@/components/sections/SkillsMenu.astro";
import Education from "@/components/sections/Education.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { CV } from "../CVRepository";

const { name, label } = CV.basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main class="max-w-5xl space-y-6 p-8 md:p-16">
    <div class="space-y-6 md:space-x-6 md:mb-8 md:flex md:flex-row">
      <div class="space-y-6 md:flex-1">
        <Hero />
        <About />
      </div>
      <div class="md:flex-1">
        <SkillsMenu />
      </div>
    </div>
    <Experience />
    <Projects />
    <Education />
  </main>
  <KeyboardManager />
</Layout>
