---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SkillsMenu from "@/components/sections/SkillsMenu.astro";
import Education from "@/components/sections/Education.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { CV } from "../CVRepository";

const { name, label } = CV.basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main
    class="md:grid-cols-6 grid max-w-7xl md:min-h-screen p-8 md:p-16 gap-12"
  >
    <div
      class="md:col-span-2 space-y-6 "
    >
      <Hero />
      <About />
    </div>
    <div
      class="md:col-span-4 space-y-6 "
    >
      <SkillsMenu />
      <Experience />
      <Projects />
      <Education className="order-first" />
    </div>
  </main>
  <KeyboardManager />
</Layout>

<style is:global>
  main {
    position: relative;
    margin: auto;
    width: 100%;
  }
</style>
