---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SkillsMenu from "@/components/sections/SkillsMenu.astro";
import Education from "@/components/sections/Education.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { CV } from "../CVRepository";

const { name, label } = CV.basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main class="max-w-5xl gap-12 space-y-6 p-8 md:p-16">
    <div class="md:grid-cols-5 grid gap-12 md:mb-12">
      <div class="md:col-span-2">
        <Hero />
        <About />
      </div>
      <div class="md:col-span-3">
        <SkillsMenu />
      </div>
    </div>
    <Experience />
    <Projects />
    <Education className="order-first" />
  </main>
  <KeyboardManager />
</Layout>

<style is:global>
  main {
    position: relative;
    margin: auto;
    width: 100%;
  }
</style>
