---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SkillsMenu from "@/components/sections/SkillsMenu.astro";
import Education from "@/components/sections/Education.astro";

import { CV } from "../CVRepository";

const { name, label, printMessage } = CV.basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main class="max-w-5xl space-y-6 p-8 md:p-16 print:flex print:gap-10">
    <div
      class="space-y-6 md:mb-8 md:flex md:flex-row md:space-x-6 print:flex-1"
    >
      <div class="space-y-6 md:flex-1">
        <Hero />
        <About />
      </div>
      <div class="md:flex-1">
        <SkillsMenu />
      </div>
    </div>
    <div class="print:flex-2 space-y-6">
      <section class="not-print:hidden">
        <h1 class="text-4xl font-bold">Curriculum Vitae</h1>
        <p>{printMessage}</p>
      </section>
      <Education />
      <Experience />
      <Projects class="print:hidden" />
    </div>
  </main>
</Layout>
