---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import SkillsMenu from "@/components/sections/HardSkills.astro";
import Education from "@/components/sections/Education.astro";
import PrintHeader from "@/components/sections/PrintHeader.astro";
import { CV } from "@/CVMapper";

const { name, label } = CV.basics;
---

<Layout title={`${name}'s Portfolio - ${label}`}>
  <main
    class="max-w-5xl space-y-6 p-8 md:p-16 print:flex print:gap-10 [&>*]:space-y-6"
  >
    <div class="print:flex-1">
      <Hero />
      <SkillsMenu class="not-print:hidden" />
    </div>
    <div class="print:flex-2">
      <PrintHeader class="not-print:hidden" />
      <About />
      <SkillsMenu class="print:hidden" />
      <Education />
      <Experience />
      <Projects class="print:hidden" />
    </div>
  </main>
</Layout>
