---
import Section from "./Section.astro";
const { className, title } = Astro.props;
---

<Section className={className}>
  <details open>
    <summary class="section-title">
      {title}
    </summary>
    <slot />
  </details>
</Section>

<style lang="css">
  @keyframes sweep {
    /*FIXME: Esto no anda */
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  summary {
    position: relative;
  }

  summary::before {
    content: "⮞ ";
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    transition: transform 0.3s;
  }

  details[open] summary::before {
    content: "⮟ ";
  }
</style>
