---
import { Icon } from "astro-icon/components";
---

<button title="Print my cv" aria-label="Print my CV" class={Astro.props.class} onclick="window.print()">
  <Icon name="mdi:printer" class="size-5" />
</button>

<style>
  :global(.print) {
    color-scheme: print;
  }
</style>

<script>
  window.addEventListener("beforeprint", () => {
    document.documentElement.classList.add("print");
  });
  window.addEventListener("afterprint", () => {
    document.documentElement.classList.remove("print");
  });
</script>
