---
interface Props {
  className?: string;
  title?: string;
  children: any;
}

const { className, title }: Props = Astro.props;
---

<section class:list={["flex flex-col gap-4 print:gap-0", className]}>
  {title && <h3 class="section-title">{title}</h3>}
  <slot />
</section>
