---
import type { Skills } from "@/cv-types";
import { Icon } from "astro-icon/components";

interface Props {
  skills: Skills;
}

const { skills }: Props = Astro.props;
---

<section class="mt-2">
  <ul class="flex flex-wrap gap-2 print:hidden" aria-label="Technologies used">
    {
      skills.languages?.map(({ name, icon }) => (
        <li class="flex items-center gap-1 rounded-md border border-solid border-skin-hue/20 bg-skin-button-accent/20 px-2 py-0.5 text-xs text-skin-hue backdrop-blur-sm print:border-none print:bg-transparent print:p-0 print:text-zinc-800">
          {icon && <Icon name={icon} width={16} height={16} />}{" "}
          <span>{name}</span>
        </li>
      ))
    }
  </ul>
</section>
