---
import type { NameAndIcon } from "@/cv-types";
import SkillsList from "./SkillsList.astro";

interface Props {
  title: string;
  items: NameAndIcon[];
  type: "languages" | "tools";
}

const { title, type, items }: Props = Astro.props;
---
<section class="mt-2">
    <h2 class="text-lg font-semibold mb-2 text-skin-hue">{title}</h2>
    <SkillsList items={items} type={type} input={true}/>
</section>

