---
interface Props {
  title?: string;
  items: string[];
  ulClass?: string;
}

const { title, items, ulClass='' }: Props = Astro.props;;
---

<div>
  {title && <h4>{title}:</h4>}
  <ul class={`${ulClass} flex list-disc flex-col gap-2 text-skin-muted`}>
    {items.map((item) => <li class="ml-4 marker:text-skin-hue">{item}</li>)}
  </ul>
</div>
