/* Directivas de Tailwind */
@tailwind base;
@tailwind components;

/* Clases personalizadas o componentes */
@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-muted: 120, 120, 120;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 245, 245, 245;
    --muted: 200, 200, 200;
    --color: 249, 115, 22;
    --color-button-accent: 249, 115, 22;
    --color-button-accent-hover: 55, 55, 55;
    --color-button-muted: 244, 239, 238;
  }
  .dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 150, 150, 150;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 36, 36, 36;
    --muted: 100, 100, 100;
    --color: 227, 77, 10;
    --color-button-accent: 227, 77, 10;
    --color-button-accent-hover: 231, 121, 43;
    --color-button-muted: 37, 42, 43;
  }
}

@media (hover: none), (pointer: coarse) {
  bg-skin-button-accent:hover {
    all: unset;
  }
}

@layer components {
  .section-title1 {
    @apply relative flex w-full items-center gap-3 pb-4 text-3xl print:gap-1 print:pb-0 print:text-xl;
  }
  .section-title2 {
    @apply mb-2 text-lg font-semibold text-skin-hue print:text-base;
  }
  .skill-box {
    @apply flex gap-1 rounded-md border-solid border-skin-hue/20 bg-skin-button-accent/20 p-1 text-xs text-skin-hue backdrop-blur-sm;
  }
  .button-hover-effect {
    @apply inline-flex cursor-pointer items-center justify-center rounded-md p-1 text-skin-hue transition-all duration-500 ease-linear hover:bg-skin-button-accent/20;
  }
  input[type="checkbox"]:checked + .button-hover-effect {
    @apply bg-skin-button-accent text-skin-inverted;
  }
  .container-muted-box {
    @apply rounded-md bg-skin-button-muted/50 p-5 ring-1 ring-skin-muted;
  }
}

/* Reset margins and padding for common elements */
body, figure {
  margin: 0;
  padding: 0;
}

/* Global box-sizing reset */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Body background and general layout */
body {
  background-attachment: fixed;
}

/* Typography */
h1, h2, h3, h4 {
  font-family: 'Sans-serif', sans-serif;
  color: var(--color-text-base);
  margin: 0;
}

p {
  font-size: 0.875rem;
  color: var(--color-text-muted);
  line-height: 1.5;
  text-wrap: normal;
}

/* Print visibility control */
.print {
  display: none !important;
}
