h1,
h2,
h3,
h4 {
  font-family: "Sans-serif", sans-serif;
  color: var(--text-primary);
}

p {
  font-size: 0.9rem;
  color: var(--text-secondary);
  line-height: 1.5;
  text-wrap: normal;
}

body {
  background-attachment: fixed;
  margin: 0;
}

main {
  margin: auto;
  position: relative;
}

section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@tailwind components;

@media (hover: none), (pointer: coarse) {
  bg-skin-button-primary:hover {
    all: unset;
  }
}

@layer components {
  .section-title1 {
    @apply text-3xl print:text-2xl;
  }
  .section-title2 {
    @apply text-lg font-semibold text-skin-accent;
  }
  .button-hover-effect {
    @apply inline-flex cursor-pointer items-center justify-center rounded-md text-skin-accent transition-all duration-500 hover:bg-skin-button-primary/20;
  }
  input[type="checkbox"]:checked + .button-hover-effect {
    @apply bg-skin-button-primary text-skin-contrast;
  }
  .muted-box {
    @apply rounded-md bg-skin-button-secondary/50 p-5 ring-1 ring-skin-muted;
  }
}
