@tailwind base;

@layer base {
  :root {
    --color-text-base: 0, 0, 0;
    --color-text-muted: 120, 120, 120;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 245, 245, 245;
    --muted: 200, 200, 200;
    --color: 249, 115, 22;
    --color-button-accent: 249, 115, 22;
    --color-button-accent-hover: 55, 55, 55;
    --color-button-muted: 244, 239, 238;
  }
  .dark {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 150, 150, 150;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 36, 36, 36;
    --muted: 100, 100, 100;
    --color: 227, 77, 10;
    --color-button-accent: 227, 77, 10;
    --color-button-accent-hover: 231, 121, 43;
    --color-button-muted: 37, 42, 43;
  }
  .print {
    --color-text-base: 0, 0, 0;
    --color-text-muted: 0, 0, 0;
    --color-text-inverted: 0, 0, 0;
    --color-fill: 255, 255, 255;
    --muted: 0, 0, 0;
    --color: 0, 0, 0;
    --color-button-accent: 0, 0, 0;
    --color-button-accent-hover: 0, 0, 0;
    --color-button-muted: 0, 0, 0;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}