@tailwind base;

@layer base {
  :root {
    --text-primary: 26, 26, 25;
    --text-secondary: 120, 120, 120;
    --text-contrast: 255, 255, 255;
    --background-primary: 255, 245, 228;
    --muted: 180, 180, 180;
    --accent: 180, 63, 63;
    --background-interactive: 255, 130, 37;
    --background-secondary: 248, 237, 237;
  }
  .dark {
    --text-primary: 255, 255, 255;
    --text-secondary: 150, 150, 150;
    --text-contrast: 0, 0, 0;
    --background-primary: 36, 36, 36;
    --muted: 120, 120, 120;
    --accent: 230, 81, 0;
    --background-interactive: 245, 124, 0;
    --background-secondary: 37, 42, 43;
  }
  .print {
    --text-primary: 0, 0, 0;
    --text-secondary: 0, 0, 0;
    --text-contrast: 0, 0, 0;
    --background-primary: 255, 255, 255;
    --muted: 0, 0, 0;
    --accent: 0, 0, 0;
    --background-interactive: 0, 0, 0;
    --background-secondary: 0, 0, 0;
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
